<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/public/favicon.ico>
    <title>test</title>
    <link href=/public/css/chunk-0b5792d9.1a189d10.css rel=prefetch>
    <link href=/public/css/chunk-76e87ddb.d829a3d4.css rel=prefetch>
    <link href=/public/js/chunk-0b5792d9.3344c85a.js rel=prefetch>
    <link href=/public/js/chunk-1d6c4891.bd38a398.js rel=prefetch>
    <link href=/public/js/chunk-2d0b5db5.012cd889.js rel=prefetch>
    <link href=/public/js/chunk-2d0c4616.cf296401.js rel=prefetch>
    <link href=/public/js/chunk-2d0c8852.fb51748a.js rel=prefetch>
    <link href=/public/js/chunk-2d0de326.a768ba88.js rel=prefetch>
    <link href=/public/js/chunk-2d208c86.4e94305a.js rel=prefetch>
    <link href=/public/js/chunk-2d22579a.48439144.js rel=prefetch>
    <link href=/public/js/chunk-76e87ddb.5f8afcc4.js rel=prefetch>
    <link href=/public/css/app.e1172645.css rel=preload as=style>
    <link href=/public/css/chunk-vendors.5ad50e34.css rel=preload as=style>
    <link href=/public/js/app.10852443.js rel=preload as=script>
    <link href=/public/js/chunk-vendors.36bc1cf9.js rel=preload as=script>
    <link href=/public/css/chunk-vendors.5ad50e34.css rel=stylesheet>
    <link href=/public/css/app.e1172645.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but test doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/public/js/chunk-vendors.36bc1cf9.js></script>
<script src=/public/js/app.10852443.js></script>
</body>
</html>